<script setup lang="ts">
import { ref, computed, onMounted } from 'vue'
import Toggle from './toggle.vue'
import Table from './table.vue'

const boost = ref(0)
const N: number = 30

const boost_name = ["无", "促进向导", "促进剂", "完美进化工具"]
const boost_prob = [0.0, 0.1, 0.0, 0.25];
const boost_usage = [0.0, 0.0, 0.1, 0.3];

const succProb = computed(() => {
  let prob = [0, 0]
  for (let i = 2; i <= N; ++i) {
    prob.push((77 - i) + boost_prob[boost.value] * 100)
  }
  return prob
})
const mUsage = computed(() => {
  let usage = [0, 0]
  for (let i = 2; i <= N; ++i) {
    usage.push((160 + 20 * i) * (1 - boost_usage[boost.value]))
  }
  console.log(usage)
  return usage
})
const Ereq = computed(() => {
  let req = [0, 0]
  for (let i = 2; i <= N; ++i) {
    req.push((mUsage.value[i] || 0) / (succProb.value[i] / 100 || 1))
  }
  return req
})
const accEreq = computed(() => {
  let accEreq = [0, 0]
  let acc = 0
  for (let i = 2; i <= N; ++i) {
    acc += Ereq.value[i] || 0
    accEreq.push(acc)
  }
  return accEreq
})

const accEDays = computed(() => {
  return accEreq.value.map((x) => x / 480)
})

const table = computed(() => {
  let res = [["等级", "成功率", "觉醒材料", "期望材料", "累计材料", "期望天数"]]
  for (let i = 2; i <= N; i += 2) {
    res.push([String(i), succProb.value[i].toFixed(2) + '%', mUsage.value[i].toFixed(2), Ereq.value[i].toFixed(2), accEreq.value[i].toFixed(2), accEDays.value[i].toFixed(2)])
  }
  console.log('table:', res)
  return res
})
</script>

<template>
  <div class="font-semibold">
    使用道具：
  </div>
  <div class="flex ms-2 me-2">
    <div class="flex" v-for="(name, idx) in boost_name">
      <input :id="idx" type="radio" :value="idx" v-model="boost">
      <label :for="idx" class="w-full font-medium p-1 pe-2.5">{{ name }}</label>
    </div>
  </div>
  <Table :table="table" class="text-right" />
</template>