<script setup lang="ts">
import { ref } from 'vue'

const props = defineProps<{
  options: string[]
}>()

console.log(props.options)

const selected = defineModel('selected')
selected.value = props.options[0]

</script>

<template>
  <form>
    <fieldset>
      <div v-for="(item, index) in props.options"
        class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
        <input :id="index" type="radio" :value="item" v-model="selected"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
        <label for="index" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
          {{ item }}
        </label>
      </div>
    </fieldset>
  </form>
</template>