<script setup lang="ts">
import { ref, reactive, computed } from 'vue'

function gaussJordan(matrix: Array<Array<number>>, constants: Array<number>): Array<number> {
  let n = constants.length;

  for (let i = 0; i < n; i++) {
    // According to get_matrix, max_row should be i
    for (let k = i + 1; k < n; k++) {
      let c = -matrix[k][i] / matrix[i][i];
      if (c === 0) continue // sparse matrix
      for (let j = i; j < n; j++) {
        if (i === j) {
          matrix[k][j] = 0;
        } else {
          matrix[k][j] += c * matrix[i][j];
        }
      }
      constants[k] += c * constants[i];
    }
  }

  let solution = new Array<number>(n);
  for (let i = n - 1; i >= 0; i--) {
    solution[i] = constants[i] / matrix[i][i];
    for (let k = i - 1; k >= 0; k--) {
      constants[k] -= matrix[k][i] * solution[i];
    }
  }

  return solution;
}

function get_state_len(pts: Array<number>): number {
  return pts.length + pts.reduce((a, b) => a + b, 0) + 1;
}

function pure_exp(r: number, p: number): number {
  // \sum_ {i=1} ^ p i(1-r){i-1}r + (1-r)^ p (p+1)
  // 1 + \frac 1 r ((1-r) - (1-r)^ p) - p (1-r)^ p + (1-r)^ p (p+1)
  let r1p = Math.pow(1 - r, p)
  return 1 + ((1 - r) - r1p) / r - p * r1p + r1p * (p + 1)
}

function get_matrix(sccs_rate: Array<number>, fail_rate: Array<number>, pts: Array<number>) {
  let matrix = Array<Array<number>>()

  if (sccs_rate.length != fail_rate.length || sccs_rate.length != pts.length) {
    return [[]]
  }
  let len: number = sccs_rate.length
  let mtrx_len: number = get_state_len(pts);

  // dp[i][j] = dp[i][j+1] * same + dp[i+1][0] * succ + dp[i-1][j] * fail + 1
  for (let i: number = 0, acc: number = 0; i < len; i += 1) {
    let lst_row_len = i == 0 ? 0 : pts[i - 1] + 1
    for (let j = 0; j < pts[i]; j += 1) {
      let row = Array<number>(mtrx_len).fill(0);
      if (fail_rate[i] != 0) {
        if (i == 0) {
          console.log("failed, i:", i, "fail rate[i]:", fail_rate[i])
          return [[]];
        }
        row[acc + j - lst_row_len] = -fail_rate[i];
      }
      row[acc + pts[i] + 1] = -sccs_rate[i];
      row[acc + j + 1] = fail_rate[i] + sccs_rate[i] - 1;
      row[acc + j] = 1;
      matrix.push(row);
    }
    {
      let row = Array<number>(mtrx_len).fill(0);
      row[acc + pts[i]] = 1;
      row[acc + pts[i] + 1] = -1;
      matrix.push(row);
    }
    acc += pts[i] + 1;
  }
  {
    let row = Array<number>(mtrx_len).fill(0)
    row[row.length - 1] = 1
    matrix.push(row)
  }
  return matrix;
}

const td = ["目标等级", "14", "15", "16", "17", "18", "19", "20"]
const sccs_rate: Array<number> = [.1, .05, .025, .01, .005, .0048, .0046]
const fail_rate: Array<number> = [.0, .00, .00, .00, .015, .015, .015]
const pts_ref: Array<number> = [10, 20, 40, 80, 120, 160, 200]
const pts = reactive([10, 20, 40, 80, 120, 160, 200])
const len = pts.length
const cut = 3

const exp = computed(() => {
  let exp = ["期望次数"]
  for (let i = 0; i < len; ++i) {
    if (pts_ref[i] < pts[i]) {
      pts[i] = pts_ref[i]
    }
    if (typeof pts[i] !== 'number') {
      pts[i] = 0
    }
  }
  for (let i = 0; i < cut; i += 1) {
    exp.push(pure_exp(sccs_rate[i], pts[i]).toFixed(2))
  }
  let matrix = get_matrix(sccs_rate.slice(cut), fail_rate.slice(cut), pts.slice(cut))
  let constants = Array<number>(get_state_len(pts.slice(cut))).fill(1)
  constants[constants.length - 1] = 0
  console.log(constants.length)
  let raw_res: Array<number> = gaussJordan(matrix, constants)
  for (let j = cut, acc = 0; j < len; ++j) {
    if (j == len - 1) {
      exp.push(raw_res[acc].toFixed(2))
    } else {
      exp.push((raw_res[acc] - raw_res[acc + pts[j] + 1]).toFixed(2))
    }
    acc += pts[j] + 1
  }
  console.log("exp", exp)
  return exp
})
const acc = computed(() => {
  let acc = ["累计次数"]
  for (let i = 1; i <= len; i += 1) {
    acc.push(i == 1 ? exp.value[i] : (Number(acc[i - 1]) + Number(exp.value[i])).toFixed(2))
  }
  console.log("acc:", acc)
  return acc
})

let table = [td, exp.value, acc.value]

console.log(table)
</script>

<template>
  <table>
    <thead>
      <tr>
        <th v-for="title in td">{{ title }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>保底次数</td>
        <td v-for="(p, index) in pts" :key="index">
          <input type="number" v-model="pts[index]" :placeholder="String(pts_ref[index])" />
        </td>
      </tr>
      <tr>
        <td v-for="e in exp">{{ e }}</td>
      </tr>
      <tr>
        <td v-for="a in acc">{{ a }}</td>
      </tr>
    </tbody>
  </table>
</template>

<style lang="css" module>
td input {
  width: 36px;
  color: var(--vp-c-text-2);
}
</style>