<script setup lang="ts">
import { ref, computed } from 'vue'
const pin = ref(5)
const TOTAL_ROLLS = 250
const FUELS_PER_ROLL = 10

const vfuel = ref(7)
const pl = ref(168)
const pb_suc = [0.45, 0.35, 0.26]
const consider_rolls = [0, 50, 100, 150, 200, 250]
const suc_rate = ref(pb_suc[0])


function Efuels1(suc_rate: number, rolls: number) {
  // 1 + \sum_ {i=0} ^ {249} i * (1-suc_rate) ^ i suc_rate + (1-suc_rate) ^ 250 * 249
  // = 1 + \sum_ {i=1} ^ {ROLLS - 1} (1-p)^ i
  // = 1 + \frac 1 p ((1-p) - (1-p)^ {ROLLS})
  const p = suc_rate / 100;
  return FUELS_PER_ROLL * (((1 - p) - Math.pow(1 - p, rolls)) / p + 1)
}

function Efuels(suc_rate: number, rolls: number) {
  return Efuels1(suc_rate, rolls) * Epls(suc_rate, rolls) +
    FUELS_PER_ROLL * (TOTAL_ROLLS - rolls)
}

function Epls(suc_rate: number, rolls: number) {
  return 1 / Math.pow((1 - suc_rate / 100), rolls)
}
function Eplus1(suc_rate: number, pl: number, pin: number, rolls: number, with_fuels: number = 0) {
  const f = with_fuels * vfuel.value * Efuels(suc_rate, rolls) / 100
  return Epls(suc_rate, rolls) * pl + pin * (TOTAL_ROLLS - rolls) + f
}
</script>

<template>
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <label for="suc_pb" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">基础强化成功率</label>
      <select id="suc_pb" v-model="suc_rate"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option v-for="(rate, index) in pb_suc">{{ rate }}</option>
      </select>
    </div>
    <div>
      <label for="pin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">保罗价格</label>
      <input type="text" id="pin" v-model="pl"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div>
      <label for="pin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">防护剂价格</label>
      <input type="text" id="pin" v-model="pin"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div>
      <label for="pin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">燃料价格(每100)</label>
      <input type="text" id="pin" v-model="vfuel"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
  </div>
  <div class="grid gap-6 mb-6 md: grid-cols-1">
    <table>
      <thead>
        <tr>
          <th>点垫子次数</th>
          <th v-for="rolls in consider_rolls">{{ rolls }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>期望垫子消耗</td>
          <td v-for="rolls in consider_rolls">
            {{ (rolls * 0.015 + Epls(suc_rate * 1.2, rolls) - 1).toFixed(2) }}
          </td>
        </tr>
        <tr>
          <td>期望燃料消耗</td>
          <td v-for="rolls in consider_rolls">
            {{ Efuels(suc_rate * 1.2, rolls).toFixed(2) }}
          </td>
        </tr>
        <tr>
          <td>期望保罗消耗</td>
          <td v-for="rolls in consider_rolls">
            {{ Epls(suc_rate * 1.2, rolls).toFixed(2) }}
          </td>
        </tr>
        <tr>
          <td>过热期望价格</td>
          <td v-for="rolls in consider_rolls">
            {{ Eplus1(suc_rate * 1.2, pl, pin, rolls).toFixed(2) }}
          </td>
        </tr>
        <tr>
          <td>价格(含燃料)</td>
          <td v-for="rolls in consider_rolls">
            {{ Eplus1(suc_rate * 1.2, pl, pin, rolls, 1).toFixed(2) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>