<script setup lang="ts">

const table = defineModel<string[][]>('table', { required: true })
/*

  <div class="grid gap-6 md: grid-cols-1">
  </div>
*/
</script>

<template>
  <table>
    <thead>
      <tr>
        <th v-for="title in table[0]">{{ title }}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="row in table.slice(1)">
        <td v-for="content in row">{{ content }}</td>
      </tr>
    </tbody>
  </table>
</template>
