<script setup lang='ts'>
import { ref, toRefs } from 'vue'

const props = defineProps<{
  title: string
}>()
// const selected = defineModel<boolean>('selected', { required: true })
const selected = defineModel<boolean>()

function logsec() {
  console.log(selected.value)
}
</script>

<template>
  <div class="m-1 mb-0 mt-2">
    <label class="inline-flex items-center cursor-pointer">
      <input type="checkbox" v-model="selected" class="sr-only peer" @input="event => logsec()">
      <div
        class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
      </div>
      <span class="ms-3 text-sm gap-0.5 font-medium text-gray-900 dark:text-gray-300">
        {{ props.title }}
      </span>
    </label>
  </div>
</template>