<script setup lang="ts">
import { ref, computed, onMounted } from 'vue'
import type { Ref } from 'vue'

interface Ignitor {
    itemCnt: number,
    slots: number,
    validCnt: number,
    baseCrt: number,
    condCrt: number,
};

const form: Ref<Ignitor> = ref({
    itemCnt: 10,
    slots: 4,
    validCnt: 3,
    baseCrt: 1,
    condCrt: 3,
})

const crts: number[] = [70, 60, 52, 46, 42, 40]
const N = 4; // 固有词条数

const exCrt: Ref<number> = ref(200)
const LVLUpbound = ref(6)



function comb(a: number, b: number) {
    let res = 1;
    for (let i = 0; i < b; ++i) res *= a - i;
    for (let i = 0; i < b; ++i) res /= i + 1;
    return res;
}

function hyper(N: number, K: number, n: number, k: number) {
    return comb(n, k) * Math.pow(K, k) * Math.pow(N - K, n - k) / Math.pow(N, n)
}

const usableCnt = computed(() => {
    return +form.value.baseCrt + +form.value.condCrt
})

const probability = computed(() => {
    let res = hyper(form.value.itemCnt, usableCnt.value, form.value.slots, form.value.validCnt)
    return String((res * 100).toFixed(2)) + '%'
})

// dp[i][j]: i词条j爆伤概率
const dp = computed(() => {
    let dp = new Array<Map<number, number>>()
    dp.push(new Map<number, number>([[0, 1]]))
    if (LVLUpbound.value > 6) {
        LVLUpbound.value = 6
    }
    if (LVLUpbound.value < 1) {
        LVLUpbound.value = 1
    }
    for (let i = 0; i < N; ++i) {
        let nx = new Map<number, number>()
        for (const [key, value] of dp[i]) {
            for (let j = 0; j < LVLUpbound.value; ++j) {
                let f = nx.get(key + crts[j]) || 0
                nx.set(key + crts[j], f + value / LVLUpbound.value)
            }
        }
        dp.push(nx)
    }
    return dp
})

const exProb = computed(() => {
    let fp = new Map<number, number>([[0, 1]])
    let fm = form.value;
    for (let i = 0; i < 1; ++i) {
        let nx = new Map<number, number>()
        for (const [key_i, value_i] of fp) {
            for (let j = 0; j <= N; ++j) {
                let wgt = hyper(fm.itemCnt, usableCnt.value, fm.slots, j)
                for (const [key_j, value_j] of dp.value[j]) {
                    let v = nx.get(key_i + key_j) || 0
                    nx.set(key_i + key_j, v + wgt * value_i * value_j)
                }
            }
        }
        fp = nx
    }
    let res = 0
    for (const [key, value] of fp) {
        if (key >= exCrt.value) res += value
    }
    return String((res * 100).toFixed(4)) + '%'
})

</script>

<template>
    <form class="border rounded grid gap-6 p-3 m-3 md:grid-cols-3">
        <div>
            <label class="block mb-2 text-sm font-medium">固有词条数(3/4)</label>
            <input type="text" v-model="form.slots" aria-describedby="helper-text"
                class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            <p id="helper-text" class="mt-2 text-sm text-gray-500 dark: text-gray-400">无限暴食4条 暴食3条</p>
        </div>
        <div>
            <label class="block mb-2 text-sm font-medium">评级上限(2/4/6)</label>
            <input type="text" v-model="LVLUpbound"
                class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <div>
            <label class="block mb-2 text-sm font-medium">允许双爆类型数(0/1)</label>
            <input type="text" v-model="form.baseCrt"
                class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <div>
            <label class="block mb-2 text-sm font-medium">允许三爆类型数(2/3)</label>
            <input type="text" v-model="form.condCrt"
                class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <div>
            <label class="block mb-2 text-sm font-medium">需求爆伤</label>
            <input type="text" v-model="exCrt"
                class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <div>
            <label class="block mb-2 text-sm font-medium">出货率</label>
            <input type="text" v-model="exProb"
                class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
    </form>
</template>

<style module></style>