<script setup lang="ts">
import { ref, reactive, computed } from 'vue'

function pack(x: number, y: number) {
  return 1-(1-x)*(1-y)
}
function spd_rate(x: number) {
  return 1 + x / 10
}
function sanitize(x: Array<number>) {
  for (let i = 0; i < x.length - 1; ++i) {
    if (x[i] < 0) {
      x[i] = 0
    }
  }
  //atk spd
  if(x[x.length - 1] > 100) {
    x[x.length - 1] = 100
  }
}

const current_tcp = ref(127681304)
const td = ["最终攻击力", "基础攻击力", "总攻击力%", "基础爆%", "总条件爆%", "百分比攻速%"]
const rate_per_entry = reactive([10, 10, 0.1, 1, 1, 1])
const current = reactive([221930, 56292, 382, 2506, 3609, 69])
const cond_rate = 0.92
// Total combat power
const tcp_per_entry= computed(() => {
  let len = rate_per_entry.length
  if (current.length != len) {
    return []
  }
  sanitize(rate_per_entry)
  sanitize(current)
  let res = Array<number>();
  for (let i = 0; i < 3; ++i) {
    res.push(rate_per_entry[i] / current[i])
  }
  res.push(rate_per_entry[3] / (current[3] + current[4] * cond_rate))
  res.push(rate_per_entry[4] * cond_rate / (current[3] + current[4] * cond_rate))
  // atk speed
  res.push(spd_rate(pack(rate_per_entry[len - 1] / 100, current[len - 1] / 100)) / spd_rate(current[len - 1] / 100) - 1)
  return res
})
const power_per_entry = computed(() => {
  return tcp_per_entry.value.map((value) => (value * current_tcp.value).toFixed(0))
})
const percent_per_entry = computed(() => {
  return tcp_per_entry.value.map((value) => (value * 1000).toFixed(2) + '‰')
})
</script>

<template>
  <label for="current_tcp">当前战力：</label>
  <input id="current_tcp" v-model="current_tcp" />
  <table>
    <thead>
      <tr>
        <th></th>
        <th v-for="title in td">{{ title }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>角色面板</td>
        <td v-for="(p, index) in current" :key="index">
          <input v-model="current[index]" />
        </td>
      </tr>
      <tr>
        <td>单位词条量</td>
        <td v-for="(p, index) in rate_per_entry" :key="index">
          <input v-model="rate_per_entry[index]" />
        </td>
      </tr>
      <tr>
        <td>每词条增益</td>
        <td v-for="e in percent_per_entry">{{ e }}</td>
      </tr>
      <tr>
        <td>每词条战力</td>
        <td v-for="e in power_per_entry">{{ e }}</td>
      </tr>
    </tbody>
  </table>
</template>


<style lang="css" module>
input {
  color: var(--vp-c-text-2);
  border-bottom: 1px solid var(--vp-c-text-2);
}
td input {
  width: 40px;
}
</style>